ion-view[ng-controller='CreateNewController'] {
	.media-preview {
		img, video, audio {
			width:100%;
		}
		.video-container {
			text-align: center;
			.controls {
				.play {
					float:left;
					width:15%;
					display: inline-block;
					font-size: 3em;
					line-height:58px;
				}
				.range {
					float:left;
					width:75%;
				}
				.get-info {
					float: left;
					width: 10%;
					display: inline-block;
					font-size: 1.5em;
					line-height: 58px;
					color: #0984EA;
				}
			}
			label {
				font-size: .8em;
				display: inline-block;
				clear:both;
				width:80%;
				float:right;
				text-align: center;
			}
		}
	}

	.message-container {
		padding:4px;
		.counter {
			bottom: 0;
			right: -6px;
			position: absolute;
		}
		textarea {
			height: 5em;
			line-height: 1em;
		}
	}
}